body {
  margin: 0;
  background-color: rgb(189, 123, 2);
}

.main-grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 20% 1fr;
}

.header-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 123, 2);
  background-image: url("Images/header-background.gif");
  background-size: contain;
  border-bottom: 2vh solid rgb(73, 48, 0);
  width: 100vw;
  grid-row: 1;
  grid-column: 1;
}

.counter-display {
  background-color: rgb(153, 100, 1);
  border: 2vh solid rgb(189, 123, 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.click-counter,
.auto-click-counter {
  margin: 0;
  color: rgb(47, 255, 99);
  text-align: center;
  text-shadow: 0.1vh 0.1vh black;
}

.clicker-grid {
  width: 100vw;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 65% 1fr;
}

.click-area {
  grid-column: 1;
  background-color: orange;
  background-image: url(Images/main-background.gif);
  filter: sepia(2);
  filter: contrast(2);
  background-repeat: repeat;
  background-position: center;
  background-size: 80%;
  transition: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clicker {
  background-image: url("Images/clicker.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: burlywood;
  border-radius: 20%;
  border: none;
  transform-origin: center;
  filter: sepia(1.6);
  filter: drop-shadow(8px 8px 7px rgb(104, 67, 0));
  transform: scale(1);
  transition: 200ms;
  width: 15vw;
  height: 15vw;
}

.clicker:hover {
  transform: scale(1.2);
  transition: 25ms;
}

.clicker:active {
  transform: scale(0.95);
  transition: 75ms;
}

.reset-button {
  position: absolute;
  bottom: 1%;
  left: 1%;
  border: 1vh solid whitesmoke;
  border-radius: 5%;
  color: rgb(255, 255, 255);
  background-color: rgb(228, 0, 0);
  transition: 200ms;
  width: fit-content;
  padding: 1vh;
  font-size: 2vh;
}

.reset-button:hover {
  transform: scale(1.1);
  transition: 200ms;
}

.shop-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2;
  background-color: rgb(255, 218, 55);
  border-left: 2vh solid rgb(73, 48, 0);
  background-image: url("Images/shop-background.gif");
  background-blend-mode: multiply;
  background-size: contain;
}

.upgrade-object {
  display: flex;
  flex-direction: row;
  margin-top: 1.5vh;
  height: 7vh;
  width: 80%;
  background-color: rgb(153, 100, 1);
  border: 0.5vh solid rgb(117, 76, 0);
}

.owned-amount {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 15%;
  color: whitesmoke;
  text-shadow: 0.1vh 0.1vh black;
  font-size: 3vh;
}

.upgrade-name-label {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
  color: whitesmoke;
  text-shadow: 0.1vh 0.1vh black;
  font-size: 3vh;
}

.upgrade-cost-label {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 35%;
  color: whitesmoke;
  text-shadow: 0.1vh 0.1vh black;
  font-size: 2.6vh;
}

.upgrade-button {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  min-width: 30px;
  width: 20%;
  border: none;
  background-color: rgb(190, 41, 15);
  color: whitesmoke;
  text-shadow: 0.1vh 0.1vh black;
  font-size: 1.5vh;
}

.upgrade-button:hover {
  filter: saturate(1.6);
}

.upgrade-object:hover {
  filter: saturate(1.3);
  transition: 50ms;
}

@media only screen and (max-height: 500px) {
  .click-counter {
    font-size: 6vh;
  }

  .auto-click-counter {
    font-size: 5vh;
  }

  .reset-button {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .clicker-grid {
    grid-template-columns: 30% 1fr;
  }

  .upgrade-object {
    height: 10vh;
  }
  .upgrade-button {
    font-size: 1.4vw;
  }
}
